<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Cannot delete author</h4>
    <p>It is not possible to delete the author. Please check the author has no books associated. 
    If the author has books then he/she cannot be deleted.</p>
    <hr>
    <a asp-action="Index" class="btn btn-primary">View authors</a>
</div>
